<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518388054882-8urfq2mrkedkp6bcevflt63ialoq7434.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518388054882-8urfq2mrkedkp6bcevflt63ialoq7434</string>
	<key>API_KEY</key>
	<string>AIzaSyB2b5CFLnKkkrDWUGk2hxtE2le3OixXUak</string>
	<key>GCM_SENDER_ID</key>
	<string>518388054882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stanleytraub.Uber-iOS-14</string>
	<key>PROJECT_ID</key>
	<string>uber-ios-14</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-ios-14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518388054882:ios:db4549aec763588ae9ca3b</string>
</dict>
</plist>